/* utilities --start */
.m-padding{
    padding-left: 8vw;
    padding-right: 8vw;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row-align-center{
    align-items: center;
}

.row-center{
    justify-content: center;
}

.row-between{
    justify-content: space-between;
}

.gap-8{
    gap: .8rem;
}

.m-top-2{
    margin-top: 2rem;
}

.m-top-4{
    margin-top: 4rem;
}


.p-top-2{
    padding-top: 2rem;
}

.p-top-4{
    padding-top: 4rem;
}

.btn-alt{
    background-color: var(--primary);
}

.btn-alt a{
    color: var(--light);
}

.active{
    border-bottom: 2px dotted var(--primary);

}

.active:hover {
    border-bottom: 3px solid var(--primary);
    transition: all 6s;
}

.flex-top{
    align-items: flex-start;
}

.flex-center{
    align-items: center;
}

/* utilities --end */