div{
    background-color: rgb(173, 68, 68);
    height: 50px;
    border: 2px solid black;
    max-width: 800px;
}

p{
    text-decoration-line: underline;
    text-transform: capitalize;
    /* font-size: 10vw; */
}